.header-marginbottom{
	margin-bottom:2px !important;
}
.float-right{
	float:right !important;
}
.width33{
	width:33.33% !important;
}
.width100{
	width:3100% !important;
}
.CopyRightWrapper{
	border-top: 1px solid #40414d;
	padding-top: 5px;
	margin-top: 5px;
}
.PopularProductBg {
	width: 250px;
	box-shadow: 0 0 4px 6px rgba(204, 135, 135, 0.07);
	text-align: center;
	margin: 0 auto;
	border:1px solid rgba(255,255,255, 0.1);
	transition: ease .25s; 
    -webkit-transition: ease .25s;
	background: rgba(255,255,255, 0.3) !important;

}
.PopularProductBg:hover{
	transform: scale(1.05);
	cursor: pointer;
}
.PopularProductBg  img {
	height: 350px;
}

div.PopularProduct {
padding: 10px;
color: #FFF !important;
}
div.PopularProduct p{
color: #FFF !important;
}
.displayTable{
	display: table !important;
}
.displayAlways{
	display: block !important;
}
.noBgImage{
	background-image: none !important;
}
.baseColour
{
	color: #11111d !important;
}
.sectionHeader
{
	font-size: 55px !important;
}
.marginTop70px
{
	margin-top:70px !important;
}
.normalLineHeight
{
	line-height:normal !important;
}
.NoMarginRight{
	margin-right: 0px !important;
}
.NoMargin{
	margin: 0px !important;
}
.noPaddingRight{
	padding-right: 0px;
}
.footerWrapper{
	padding-bottom: 60px;
}
.WhiteBG{
	background-color: #FFF !important;
}
.margintop80px{
	margin-top: 80px !important;
}
.marginbottom50px{
	margin-bottom: 50px !important;
}
#specializations ul{
	list-style:square !important;
}
#specializations ul > li,#specializations ul > li:hover{
color: #322424 !important;
font-size: 16px !important;
}
.customTitleHeader {
	width: auto;
	height: 40px;
	line-height: 40px;
	font-size: 49px;
	margin-bottom: 60px;
	margin-top: 20px;
}
.customTitleHeader::before{
	content: " ";
	border-left: 10px solid #322424;
	height: 40px;
	font-size: 49px;
	margin-right: 10px;
} 
.ourProductWrapper{
	height: 360px !important;
	margin-bottom: 30px !important;
	margin-bottom: 30px !important;
	overflow: hidden !important;
	border:1px solid #acacac !important;
	box-shadow: 0 0 10px gray;
	transition: ease .25s; 
    -webkit-transition: ease .25s;
}
.ourProductMargin{
	margin-top: 30px!important;
	margin-bottom: 30px !important;
}
.ourProductDescription{
	border-left: 1px solid #999;
	height: 360px !important;
	background-color: #EEE !important;
	box-shadow: 0 0 10px gray;
}
.ourProductDescription p{
	line-height: 22px !important;
}
.ourProductWrapper:hover{
	cursor: pointer !important;
	transform: scale(1.01);
	cursor: pointer;
}
.ourProductImage{
	height: 300px !important;
}
.ourProductHeader{
	color: #e9490a !important;
	font-size: 36px !important;
}









@media only screen and (min-width: 768px)  and (max-width: 900px) 
{     
	.PopularProductBg {
		width: 200px !important;
	}
	.PopularProductBg img {
		height: 320px !important;
	}

	
} 

@media (max-width: 767px)
{
	.servicessectionbox {
		border: none;
		border-top: 1px solid #8e8f98 !important;
		border-bottom: 1px solid #8e8f98 !important;
	}
	.servicessectionbox:first-child {
		padding-top: 190px !important;
	}
}

@media only screen and (min-width: 426px) and (max-width: 768px) 
{     
	.width33{
		width:100% !important;
	}

	
} 