.header-marginbottom{
	margin-bottom:2px !important;
}
.float-right{
	float:right !important;
}
.width33{
	width:33.33% !important;
}
.width100{
	width:3100% !important;
}
.CopyRightWrapper{
	border-top: 1px solid #40414d;
	padding-top: 5px;
	margin-top: 5px;
}
.PopularProductBg {
	width: 250px;
	box-shadow: 0 0 4px 6px rgba(204, 135, 135, 0.07);
	text-align: center;
	margin: 0 auto;
	border:1px solid rgba(255,255,255, 0.1);
	transition: ease .25s; 
    -webkit-transition: ease .25s;
	background: rgba(255,255,255, 0.3) !important;

}
.PopularProductBg:hover{
	transform: scale(1.05);
	cursor: pointer;
}
.PopularProductBg  img {
	height: 350px;
}

div.PopularProduct {
padding: 10px;
color: #FFF !important;
}
div.PopularProduct p{
color: #FFF !important;
}
.displayTable{
	display: table !important;
}
.displayAlways{
	display: block !important;
}
.noBgImage{
	background-image: none !important;
}
.baseColour
{
	color: #11111d !important;
}
.sectionHeader
{
	font-size: 55px !important;
}
.marginTop70px
{
	margin-top:70px !important;
}
.marginTop50px
{
	margin-top:50px !important;
}
.normalLineHeight
{
	line-height:normal !important;
}
.NoMarginRight{
	margin-right: 0px !important;
}
.NoMargin{
	margin: 0px !important;
}
.NoMarginBottom{
	margin-bottom: 0px !important;
}
.paddingLeft15px{
	padding-left: 15px !important;
}
.noPaddingRight{
	padding-right: 0px !important;
}
.noPaddingTop{
	padding-top: 0px !important;
}
.footerWrapper{
	padding-bottom: 60px !important;
}
.padding20px{
	padding:20px !important;
}
.WhiteBG{
	background-color: #FFF !important;
}
.textaliginRight{
	text-align: right !important;
}
.textaliginLeft{
	text-align: left !important;
}
.productPriceValue{
	padding-left: 5px;
}
.margintop80px{
	margin-top: 80px !important;
}
.marginbottom50px{
	margin-bottom: 50px !important;
}
#specializations ul{
	list-style:square !important;
}
#specializations ul > li,#specializations ul > li:hover{
color: #322424 !important;
font-size: 16px !important;
}
.customTitleHeader {
	width: auto;
	height: 40px;
	line-height: 40px;
	font-size: 49px;
	margin-bottom: 60px;
	margin-top: 20px;
}
.customTitleHeader::before{
	content: " ";
	border-left: 10px solid #322424;
	height: 40px;
	font-size: 49px;
	margin-right: 10px;
} 
.ourProductImage{
	height: 250px;
}
.ourProductHeader{
	color: #e9490a !important;
	font-size: 36px !important;
}
.ourProductsDescription{
	position: relative;
	height: 250px;
}
.ourProductBuyContainer{
	position: absolute;
	bottom: 0px;
	left: 0px;
}
.rightSidebarLink{
	line-height: 24px !important;
}
.rightSidebarHeading{
	color: #000 !important;
	margin-bottom: 20px;
}
.ourProductBuyPrice{
	display: inline !important;
	width: 350px !important;
	float: left;
}
.ourProductBuyButton{
	display: inline !important;
	margin-left: 10px;
}
.ourProductPrice{
	color: #e9490a !important;
}
.productWrapper{
	margin-top: 100px;
}
.productPrice{
	margin-top: 20px !important;
}
.productPrice td, .productPrice td *{
	line-height: 24px !important;
	font-size: 16px !important;
}
.productPriceColor{
	color: #e9490a !important;
}
.productPrice td .productSavedPrice{
	color: #e9490a !important;
	font-size: 14px !important;
}
.productInStock{
	color: green !important;
}
.productSpecification{

}
.productSpecification ul{
	list-style:disc !important;
}
.productSpecification ul li:hover{
	color: inherit;
}
.productButtonPannel{
	padding:15px !important;
	margin-bottom: 100px;
}
.productBuyButton{
	padding:15px !important;
	background-color: rgb(0, 95, 0) !important;
	color: #FFF !important;
	text-decoration: none  !important;
}
.productBuyButton:hover{
	background-color: rgb(0, 73, 0) !important;
}
.strikeText{
	text-decoration:line-through !important;
}
.userLoginWrapper{
	margin-top: 100px !important;
}
.userLoginForm{
	margin-top: 20px !important;
}
.formLabel{
	font-size: 14px !important;
	line-height: 12px !important;
}
@media only screen and (min-width: 768px)  and (max-width: 900px) 
{     
	.PopularProductBg {
		width: 200px !important;
	}
	.PopularProductBg img {
		height: 320px !important;
	}

	
} 

@media (max-width: 767px)
{
	.servicessectionbox {
		border: none;
		border-top: 1px solid #8e8f98 !important;
		border-bottom: 1px solid #8e8f98 !important;
	}
	.servicessectionbox:first-child {
		padding-top: 190px !important;
	}
}

@media only screen and (min-width: 426px) and (max-width: 768px) 
{     
	.width33{
		width:100% !important;
	}
	.ourProductWrapper{
		height: 360px !important;
	}
	.ourProductImage{
		height: 200px !important;
	}
} 